#aboutpeople{
  background-image: url(http://ih1.redbubble.net/image.12278711.5217/fc,550x550,navy.jpg);
  background-position:left 400px top ;
  background-repeat: no-repeat;
  backg/*Don't take out, don't ask why it just works*/
  width:900px;
    height:600px;
    font-size: 20px;
    animation: slide 3s infinite;
}
