body{
  background: url("space.jpg");
  text-align: center;
  background-size: cover;
}
h1{
  font-size: 70px;
}
h3{
  font-size: 40px;
}
footer{
  color: white;
  text-align: center;
  font-size: 16px;
}
