body{
  background: url(http://www.lookpictures.net/photos/registered_photos/5347-batman-3-gotham-city-wallpaper.jpg) no-repeat;
  font-size: 50px;
  text-align: center;
  background-size: cover;
}
footer{
  color: white;
  text-align: center;
  font-size: 16px;
}
