<!DOCTYPE.html>
<html>
<!-- romeo's comment-->
  <head>
    <title>About the Batmanatees</title>
    <link rel="stylesheet" type="text/css" href="/static/about.css">
    <link rel="stylesheet" type="text/css" href="/static/mastercss.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src ="/static/about.js"></script>
  </head>
  <body>
    <h1><a href='/home' style="color:white; text-decoration: none">The Event Horizon</a>
      {% include 'templates/user.html' %}
      <br>
    </h1>
    <h2>The Batmanatees</h2>
      <div id='aboutpeople'>
        Karen Dorvil
        <br>
        Romeo Umana
        <br>
        Rainbow (Laan) Yeung
        <br>
      </div>
  </body>
  <footer>
    Copyright
    <br> (c) Karen Dorvil, Romeo Umana, & Rainbow (Laan) Yeung, 2015.
  </footer>
</html>
