<!DOCTYPE.html>
<html>
<!-- romeo's comment-->
{% include 'templates/user.html' %}
<link rel="stylesheet" type="text/css" href="/static/about.css">
  <head>
    <title>About the Batmanatees</title>
  </head>
  <body>
    <h1><a href='/home' style="color:white; text-decoration: none">The Event Horizon</a>
      <br>
    <h2>The Batmanatees<h2></h1>
      <img src="http://ih1.redbubble.net/image.12278711.5217/fc,550x550,navy.jpg" height="180" width="280">
      Karen Dorvil
      <br>
      Romeo Umana
      <br>
      Rainbow (Laan) Yeung
      <br>
  </body>
  <footer>
    Copyright
    <br> (c) Karen Dorvil, Romeo Umana, & Rainbow (Laan) Yeung, 2015.
  </footer>
</html>
