<!DOCTYPE.html>
<html>
  <head>
    {% include 'templates/user.html' %}
    <title>User Info</title>
    <link rel="stylesheet" type="text/css" href="/static/mastercss.css">
    <link rel="stylesheet" type="text/css" href="/static/my_profile.css">
  </head>
  <body>
      <h1>
      <a href='/home' style="color:white; text-decoration: none">The Event Horizon</a>
      </h1>
      <p><!--if the user is "viewed as guest", my profiles, saved events, and logout would not work-->
          <a href="/form" id='menutab' style="text-decoration: none">New Event</a>
          <a href="/my_profile" id='menutab' style="background-color: rgba(105, 77, 105, 0.5);text-decoration: none">My Profile</a>
          <a href="/saved" id='menutab' style="text-decoration: none">Saved Events</a>
          <a href="/map" id='menutab' style="text-decoration: none">Map Events</a>

      </p>
      <br>
      <h3>Name: {{name}}</h3>
      <h3>Place: {{place}}</h3>
      <h3>Description: {{description}}</h3>
      <h3>Address: {{address}}</h3>
      <h3>City: {{city}}</h3>
      <h3>State/Region: {{region}}</h3>
      <h3>Postal Code: {{zip_code}}</h3>
      <h3>Country: {{country}}</h3>
      <h3>Starts at: {{start_time}}</h3>
      <h3>Frequency: {{frequency}}</h3> 
      <br>
<!--      <h3>Profile Picture: </h3>   -->

      <!-- Maybe put this in sign up page and show the info here instead-->
      <!-- <button id='my_profile' onclick="location.href='/'">Go Back</button> -->
  </body>
  <footer>
    Copyright
    <br> (c) Karen Dorvil, Romeo Umana, & Rainbow (Laan) Yeung, 2015.
    <a href='/about'>About</a>
  </footer>
</html>
