<!DOCTYPE.html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="/static/mastercss.css">
    <link rel="stylesheet" type="text/css" href="/static/event.css">
  </head>
  <body>
      <h1>
      <a href='/home' style="color:white; text-decoration: none">The Event Horizon</a>
</h1><br>
{% include 'templates/user.html' %}
<title>User Info</title>
    <!--if the user is "viewed as guest", my profiles, saved events, and logout would not work-->
      <p id='menutab'>
          <a href="/form" id='tab' style="text-decoration: none">New Event</a>
          <a href="/my_profile" id='tab' style="background-color: rgba(105, 77, 105, 0.5);text-decoration: none">My Profile</a>
          <a href="/saved" id='tab' style="text-decoration: none">Saved Events</a>
          <a href="/map" id='tab' style="text-decoration: none">Map Events</a>

      </p>
      <br>

      <!-- <h3>Name: {{name}}</h3>
      <h3>Place: {{place}}</h3>
      <h3>Description: {{description}}</h3>
      <h3>Address: {{address}}</h3>
      <h3>City: {{city}}</h3>
      <h3>State/Region: {{region}}</h3>
      <h3>Postal Code: {{zip_code}}</h3>
      <h3>Country: {{country}}</h3>
      <h3>Starts at: {{start_time}}</h3>
      <h3>Frequency: {{frequency}}</h3> -->

      <h3 id='name'>{{name}}</h3>
      <h3 id='time'>Time: {{start_time}}
      <br> Frequency: {{frequency}} </h3>
      <h3 id='address'>Address: {{place}},
      <br> {{address}},
      <br> {{city}}, {{region}}, {{zip_code}}
      <br> {{country}}
      <a href="/map"> Click to see {{city}} events on map</a>
      </h3>
      <h3 id='description'>Description: {{description}}</h3>
      <br>

      <form method = "post">
        <input type = "submit" value = "Attend">
        <br>
      </form>

<!--      <h3>Profile Picture: </h3>   -->

      <!-- Maybe put this in sign up page and show the info here instead-->
      <!-- <button id='my_profile' onclick="location.href='/'">Go Back</button> -->
  </body>
  <footer>
    Copyright
    <br> (c) Karen Dorvil, Romeo Umana, & Rainbow (Laan) Yeung, 2015.
    <a href='/about'>About</a>
  </footer>
</html>
