<!DOCTYPE.html>
{% include 'templates/user.html' %}
<html>
  <head>
    <title>Create New Events</title>
  </head>
  <body>
    <h1>The Event Horizon </h1>
    <br>
    <form method = "post">
      Enter the event's name  <input type="text" name="event_name">
      <br>
      Enter the event's time  <input type="text" name="event_time">
      <br>
      Enter the event's location  <input type="text" name="event_location">
      <br>
      <input type = "submit">
      <br>
    </form>
  <!--
    <a href="/home">Go back home</a> <br>
-->
  </body>
</html>
