<!DOCTYPE.html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/mastercss.css">
    <title>Create New Events</title>
  </head>
  <body>
    {% include 'templates/user.html' %}
  <h1><a href='/home' style="color:white; text-decoration: none">The Event Horizon</a></h1>
  <p id='menutab'>
    <a href="/forms" id='tab' style="background-color: rgba(105, 77, 105, 0.5); text-decoration: none">New Event</a>
    <a href="/my_profile" id='tab' style="text-decoration: none">My Profile</a>
    <a href="/saved" id='tab' style="text-decoration: none">Saved Events</a>
    <a href="/map" id='tab' style="text-decoration: none">Map Events</a>
  </p>
  <br>
  <form method = "post">
    <pre>
    Enter the event's name&#09;&#09;&#09;<input type="text" name="name">

    Enter the event's time&#09;&#09;&#09;&#09;<input type="text" name="start_time">

    Enter event's description&#09;&#09;&#09;<input type="text" name="description">

    Enter the venue name&#09;&#09;&#09;&#09;<input type="text" name="venue_name">

    Enter the venue's location&#09;&#09;&#09;<input type="text" name="venue_address">

    Enter the venue's city&#09;&#09;&#09;&#09;<input type="text" name="city_name">

    Enter the venue's state&#09;&#09;&#09;&#09;<input type="text" name="region_name">

    Enter the venue's zip code&#09;&#09;&#09;<input type="text" name="postal_code">

    Enter the venue's country&#09;&#09;&#09;<input type="text" name="country_abbr">

    How often does the event reoccur?&#09;<input type="text" name="recur_string">
    <input type = "submit">
  </pre>
  </form>
  </body>
  <footer>
    Copyright
    <br> (c) Karen Dorvil, Romeo Umana, & Rainbow (Laan) Yeung, 2015.
    <a href='/about'>About</a>
  </footer>
</html>
