<!-- Romeo's stuff    <a href="/enter">To do something stupid and broken</a> <br> -->
{% include 'templates/user.html' %}
<!DOCTYPE.html>
<html>
  <head>
    <title>The Event Horizon</title>
    <script src="static/home.js"></script>
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>

    <header>
      <nav>
        <p><!--if the user is "viewed as guest", my profiles, saved events, and logout would not work-->
            <a href="/form">New Event</a> <br>
            <a href="my_profile.html">My Profile</a>
            <a href="/saved">Saved Events</a>
            <a href="map_events.html">Map Events</a>
        </p>
            <a href="/search">To search for an event</a> <br>
      </nav>
    </header> <br>

    <div class="titles">
    <h1>The Event Horizon </h1>
    </div>

      <!--<button onclick="goGetLunch()">Click me</button>
      <button onclick="askForName()">Get Name</button>-->
    </p>

  </body>
  <footer>
    <p class="footer">Copyright
    <br> (c) Karen Dorvil, Romeo Umana, & Rainbow (Laan) Yeung, 2015.
    <a href='/about'>About</a>
    </p>
  </footer>
</html>
