<!-- Romeo's stuff    <a href="/enter">To do something stupid and broken</a> <br> -->
{% include 'templates/user.html' %}
<!DOCTYPE.html>
<html>
  <head>
    <title>The Event Horizon</title>
    <script src="static/home.js"></script>
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>
    <h1>The Event Horizon </h1>
    <br>
      <nav>
        <p>
          <!--if the user is "viewed as guest", my profiles, saved events, and logout would not work-->
          <a href="/form">New Event</a>
          <a href="/my_profile">My Profile</a>
          <a href="/saved">Saved Events</a>
          <a href="map_events.html">Map Events</a>
        </p>
        <br>
          <search> <!-- So far, just search by name and id. Other options include: date, specific location, cost, etc. -->
              <form method = "post">
                Search for an event by name  <input type="text" name="query">
                <input type = "submit">
                <br>
              </form>
              <br>
              <form method = "post">
                Search for an event by id <input type="text" name="query">
                <input type = "submit">
                <br>
              </form>
            </search>
      </nav>
   <br>
      <!--<button onclick="goGetLunch()">Click me</button>
      <button onclick="askForName()">Get Name</button>-->
  </body>
  <footer>
    <p class="footer">Copyright
    <br> (c) Karen Dorvil, Romeo Umana, & Rainbow (Laan) Yeung, 2015.
    <a href='/about'>About</a>
  </footer>
</html>
