<!DOCTYPE.html>
<html>
  <head>
    <title>User Info</title>
    <link rel="stylesheet" type="text/css" href="/static/mastercss.css">
    <link rel="stylesheet" type="text/css" href="/static/my_profile.css">
  </head>
  <body>
      <h1>
      <a href='/home' style="color:white; text-decoration: none">The Event Horizon</a>
      <!--if the user is "viewed as guest", my profiles, saved events, and logout would not work-->
    </h1>
    <p id='menutab'>      
      <a href="/form" id='tab' style="text-decoration: none">New Event</a>
          <a href="/my_profile" id='tab' style="background-color: rgba(105, 77, 105, 0.5);text-decoration: none">My Profile</a>
          <a href="/saved" id='tab' style="text-decoration: none">Saved Events</a>
          <a href="/map" id='tab' style="text-decoration: none">Map Events</a>

      </p>
      {% include 'templates/user.html' %}
      <br>
      <h3>Name: {{name}}</h3>
      <h3>Email: {{email}}</h3>
      <h3>Bio: {{bio}}</h3> <br>
      <br>
      <p> Attending: </p><br>
      {{results}}
<!--      <h3>Profile Picture: </h3>   -->

      <!-- Maybe put this in sign up page and show the info here instead-->
      <form method='post' action='/'>
        What is your location? <input type='text' name='city'>
        <input type='submit'>
      </form>
      <!-- <button id='my_profile' onclick="location.href='/'">Go Back</button> -->
  </body>
  <footer>
    Copyright
    <br> (c) Karen Dorvil, Romeo Umana, & Rainbow (Laan) Yeung, 2015.
    <a href='/about'>About</a>
  </footer>
</html>
