<!DOCTYPE.html>
<html>
  <head>
    <title>User Info</title>
    <link rel="stylesheet" type="text/css" href="/static/mastercss.css">
  </head>
  <body>
    <h1><a href='/home' style="color:white; text-decoration: none">The Event Horizon</a></h1>
    <p id='menutab'>
      <a href="/forms" id='tab' style="text-decoration: none">New Event</a>
      <a href="/my_profile" id='tab' style="background-color: rgba(105, 77, 105, 0.5);text-decoration: none">My Profile</a>
      <a href="/saved" id='tab' style="text-decoration: none">Saved Events</a>
      <a href="/map" id='tab' style="text-decoration: none">Map Events</a>
    </p>
    <br>
    {% include 'templates/user.html' %}
    <br>
    <h3>Name: {{name}}</h3>
    <h3>Email: {{email}}</h3>
    <h3>Bio: {{bio}}</h3> <br>
    <h3>Events attending: </h3>
    {{results}}
    <!--      <h3>Profile Picture: </h3>   -->
    <!-- Maybe put this in sign up page and show the info here instead-->
    <!--<form method='post' action='/'>
      What is your location? <input type='text' name='city'>
      <input type='submit'>-->
    </form>
  </body>
  <footer>
    Copyright
    <br> (c) Karen Dorvil, Romeo Umana, & Rainbow (Laan) Yeung, 2015.
    <a href='/about'>About</a>
  </footer>
</html>
