<!DOCTYPE.html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/mastercss.css">
    <link rel="stylesheet" type="text/css" href="/static/profile_form.css">
    <title>Create New Events</title>
  </head>
  <body>
    <h1><a href='/' style="color:white; text-decoration: none">The Event Horizon</a></h1>
    {% include 'templates/user.html' %}
    
    <br>
    <form method = "post">
      Enter your profile name  <input type="text" name="person_name">
      <br><br>
      <textarea name="bio" rows="10" cols="30"> Enter a short bio here. </textarea>
      <br>
      <input type = "submit">
      <br>
    </form>
  <!--
    <a href="/home">Go back home</a> <br>
--><footer>
  Copyright
  <br> (c) Karen Dorvil, Romeo Umana, & Rainbow (Laan) Yeung, 2015.
  <a href='/about'>About</a>
</footer>
  </body>
</html>
