<html>
  <body>
    <form method = "post">
      Search for a student by name  <input type="text" name="query">
      <br>
      <input type = "submit">
      <br>
      <input type = "hidden" name = "which_one" value = "name">
    </form>

    <br><br>

    <form method = "post">
      Search for a student by id <input type="text" name="query">
      <br>
      <input type = "submit">
      <br>
      <input type = "hidden" name = "which_one" value = "id">
    </form>

    <a href="/home">Go back home</a> <br>

  </body>
</html>
